{% extends "base.html" %}
{% load static %}
{% load translation_filters %}

{% block content %}
<section class="section hero v1">
      <div class="w-layout-blockcontainer container-default w-container">
        <div class="section-image-bg"><img src="{% static 'images/IMG_2456-1.png' %}" loading="eager" width="Auto" height="Auto" alt="" class="fit-cover _w-h-100">
          <div class="bg-overlay hero-v1-bg"></div>
        </div>
        <div class="inner-container _600px---mbl">
          <div class="inner-container _610px">
            <div class="inner-container _500px---tablet">
              <p class="text-neutral-400 mg-bottom-24px"><br><br><br>‍</p>
              <h1 class="display-8 mid text-light">{% translate 'Посилення інновацій' %},<br>{% translate 'що резонують по світу' %}.</h1>
              <p class="text-neutral-400 mg-bottom-23px">{% translate 'Видатний розробник та засновник ECORA' %}, <br> {% translate 'глобального інноваційного підприємства' %}. <br>{% translate 'Моя непохитна прихильність інноваціям' %} <br> {% translate 'перетворює життя та створює нові стандарти' %} <br> {% translate 'для кращого, більш стійкого майбутнього' %}.</p>
            </div>
          </div>
          <div class="mg-top-70px alt---tablet w-clearfix">
            <div class="inner-container _446px right---100-mbl">
              <div class="buttons-row left">
                <a id="w-node-_95430d12-e062-5a9a-db4a-70e36fb22663-6fb22663" href="#wf-form-Section-Contact-V1-Form" class="primary-button small dark-mode w-inline-block">
                  <div class="text-block">{% translate 'Звʼяжіться' %}</div>
                  <div class="item-icon-right">
                    <div class="arrow-right"></div>
                  </div>
                </a>
                <a id="w-node-d3a19426-8439-e36c-41b3-eef08fc739e4-8fc739e4" href="#Learn-more" class="secondary-button small dark-mode w-inline-block">
                  <div class="text-block">{% translate 'Дізнатись більше' %}</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   <section class="section top-bottom-100px">
      <div class="w-layout-blockcontainer container-default w-container">
        <div class="inner-container _900px-tablet center">
          <div class="inner-container _400px---mbl center">
            <div class="inner-container _350px---mbp center">
              <div class="inner-container _1158px center">
                <div data-w-id="f5ff7c12-9bb6-3689-aa64-8ed2e5a5a3ff" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid grid-auto logo-stat">
                  <div id="w-node-_1f677a23-a4a0-6e9e-016d-969da2f78384-0b9741be" class="flex-horizontal"><img src="{% static 'images/logo_blue_svg_1.svg' %}" loading="eager" alt=""></div>
                  <div class="flex-horizontal"><img src="{% static 'images/GENDOSE-Pharm-Logo-bold.png' %}" loading="eager" alt=""></div>
                  <div class="flex-horizontal"><img src="{% static 'images/Biosens-1-ratio-png.webp' %}" loading="eager" alt=""></div>
                  <div class="flex-horizontal"><img src="{% static 'images/Naturel-1-ratio-png.webp' %}" loading="eager" alt=""></div>
                  <div class="flex-horizontal"><img src="{% static 'images/Screenshot-2025-01-09-at-15.26.10.png' %}" loading="eager" alt=""></div>
                  <div id="w-node-_381a5b60-80a6-6cb2-e3bb-745a18396b4a-0b9741be" class="flex-horizontal"><img src="{% static 'images/EVELIS.svg' %}" loading="eager" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="Learn-more" class="section overflow-hidden">
      <div class="w-layout-blockcontainer container-default w-container">
        <div data-w-id="beec0104-5703-5e2b-d68b-51be83e343d8" class="divider-page-wrapper">
          <div class="badge neutral">{% translate 'Ініціативи' %}</div>
          <div class="position-relative">
            <div class="divider-full-width-wrapper">
              <div class="divider-full-width"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-blockcontainer container-default w-container">
        <div data-w-id="5819b1aa-cbe1-4649-727a-d1151c5d5be0" class="flex-horizontal space-between gap-medium---flex-wrap">
          <p>{% translate 'Під моїм керівництвом десять взаємопов&#x27;язаних підприємств працюють як одна згуртована екосистема, стимулюючи трансформаційні рішення, які покращують здоров&#x27;я та якість життя громад у всьому світі.' %}</p>
        </div>
        <div class="mg-top-48px">
          <div data-delay="2500" data-animation="slide" class="slider-wrapper buttons-bottom w-slider" data-autoplay="true" data-easing="ease-out-quint" style="opacity:0" data-hide-arrows="true" data-disable-swipe="false" data-w-id="25280ac2-8c3e-6827-e952-13ed569219e3" data-autoplay-limit="0" data-nav-spacing="3" data-duration="4000" data-infinite="false">
            <div class="slider-mask v1 w-slider-mask">
               {% for initiative in initiatives %}
    <div class="mg-right-default w-slide">
        <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
                <div role="listitem" class="w-dyn-item" style="height: 450px; overflow: hidden; display: flex; flex-direction: column; justify-content: space-between;">
                    <a data-w-id="e555be0c-f8c5-e4c5-eec8-3b477cb30d77"
                       href="{% url 'initiative_detail' initiative.id %}"
                       class="card service-item-v1 w-inline-block">

                        <div class="z-index-1" style="flex-grow: 1;">
                            <div class="display-2 mid text-secondary-100">{{ initiative.translated.type }}</div>
                            <img src="{{ initiative.logo.url }}" height="100" class="image-size service-item-icon">
                            <div class="mg-top-small mg-bottom-small">
                                <h3 class="card-heading display-5 mid">{{ initiative.name }}</h3>
                            </div>
                            <p class="paragraph-large text-neutral-700" style="max-height: 100px; overflow: hidden; text-overflow: ellipsis;">
                                {{ initiative.translated.short_description }}
                            </p>
                        </div>

                        <div class="z-index-1">
                            <div class="flex-horizontal space-between gap-medium---flex-wrap">
                                <div class="link hover-none mid">
                                    <div>{% translate 'Дізнатись більше' %}</div>
                                    <div class="arrow-right"></div>
                                </div>
                            </div>
                        </div>

                        <div class="bg-hover right"></div>
                        <div class="bg-hover left"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


            </div>
            <div class="secondary-button-icon slider-button left---01 w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="secondary-button-icon slider-button right---01 w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="slider-nav hidden w-slider-nav w-round"></div>
          </div>
        </div>
        <div class="mg-top-extra-large mg-top-32px---mbp">
          <div data-w-id="29bd700e-419e-1e02-7991-a5e4661cb4cc" style="opacity:0" class="buttons-row">
            <a id="w-node-_455512f7-01e4-31d1-a3b7-d473c8986753-c8986753" href="{% url 'initiatives' %}" class="secondary-button small w-inline-block">
              <div class="text-block">{% translate 'Еко холдинг' %} ECORA</div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="Section-Mission" class="section pd-top-0px">
      <div id="Metrics" class="w-layout-blockcontainer container-default w-container">
        <div id="Metrics" class="w-layout-layout quick-stack-main w-node-_6c07c50c-6094-cf87-a9bd-f6eb9403db6a-0b9741be wf-layout-layout">
          <div id="w-node-a023efb8-9344-c77d-9e75-4f0f68ea07e2-0b9741be" data-w-id="a023efb8-9344-c77d-9e75-4f0f68ea07e2" style="opacity:0" class="w-layout-cell">
            <div class="card v18 _w-h-100">
              <div class="flex-horizontal gap-default card-v18-content">
                <div id="w-node-_36d14ade-d07a-5c38-41b4-f641179d25a2-0b9741be" class="display-9 mid text-titles">5K<span class="display-7 mid text-color-primary-400">+</span></div>
                <div class="inner-container _100px">
                  <div>{% translate 'Пацієнтів досліджено для визначення причин дисфункцій та покращення якості життя' %}</div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-c3e0577d-790f-213a-c81a-5bc41d6d34a9-0b9741be" data-w-id="c3e0577d-790f-213a-c81a-5bc41d6d34a9" style="opacity:0" class="w-layout-cell">
            <div class="card v18">
              <div class="flex-horizontal gap-default card-v18-content">
                <div class="display-9 mid text-titles">20<span class="display-7 mid text-secondary-100">+</span></div>
                <div class="inner-container _100px">
                  <div>{% translate 'Років у бізнесі' %}</div>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-_779fd043-91c8-4d87-70cc-9931c785c2d6-0b9741be" data-w-id="779fd043-91c8-4d87-70cc-9931c785c2d6" style="opacity:0" class="w-layout-cell">
            <div class="card v18 _w-h-100">
              <div class="flex-horizontal gap-default card-v18-content">
                <div class="display-9 mid text-titles">2K<span class="display-7 mid text-secondary-300">+</span></div>
                <div class="inner-container _100px">
                  <div>{% translate 'Публічних виступів як спікера, доповідача, науковця, розробника на інтер-національних заходах' %}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="Section-Get-in-touch" class="section">
      <section class="section-divider">
        <div class="w-layout-blockcontainer container-default w-container">
          <div data-w-id="beec0104-5703-5e2b-d68b-51be83e343d8" class="divider-page-wrapper">
            <div class="badge neutral">{% translate 'Звʼяжіться' %}</div>
            <div class="position-relative">
              <div class="divider-full-width-wrapper">
                <div class="divider-full-width"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="w-layout-blockcontainer container-default w-container">
        <div class="w-layout-grid grid-2-columns contact-grid-01">
          <div id="w-node-_2c0db3ca-04ed-862c-29a3-def3df16cf2f-0b9741be" data-w-id="2c0db3ca-04ed-862c-29a3-def3df16cf2f" style="opacity:0" class="card form-wrapper section-v1">
            <div id="w-node-_2c0db3ca-04ed-862c-29a3-def3df16cf30-0b9741be" class="section-form-v1-wrapper w-form">
              <form id="wf-form-Section-Contact-V1-Form" name="wf-form-Section-Contact-V1-Form" data-name="Section Contact V1 Form" method="get" data-wf-page-id="6762094df6a6fb880b9741be" data-wf-element-id="2c0db3ca-04ed-862c-29a3-def3df16cf31">
                <div class="w-layout-grid grid-form _1-column gap-row-24px">
                  <div id="w-node-_2c0db3ca-04ed-862c-29a3-def3df16cf33-0b9741be"><label for="name">{% translate 'Імʼя' %}</label><input class="input transparent w-input" maxlength="256" name="Name" data-name="Name" placeholder="{% translate 'Напишіть своє імʼя...' %}" type="text" id="name" required=""></div>
                  <div id="w-node-_2c0db3ca-04ed-862c-29a3-def3df16cf37-0b9741be"><label for="email">{% translate 'Електронна пошта' %}</label><input class="input transparent w-input" maxlength="256" name="Email" data-name="Email" placeholder="example@youremail.com" type="email" id="email" required=""></div>
                  <div id="w-node-_2c0db3ca-04ed-862c-29a3-def3df16cf43-0b9741be" class="text-area-wrapper"><label for="message">{% translate 'Повідомлення' %}</label><textarea id="message" name="Message" maxlength="5000" data-name="Message" placeholder="{% translate 'Напишіть своє повідомлення...' %}" required="" class="text-area transparent w-input"></textarea></div>
                  <div id="w-node-_2c0db3ca-04ed-862c-29a3-def3df16cf47-0b9741be" class="buttons-row left">
                    <div class="primary-button form-button-wrapper---light-mode"><input type="submit" data-wait="{% translate 'Зачекайте...' %}" class="primary-button form-button w-button" value="{% translate 'Надіслати' %}">
                      <div class="arrow-right text-light"></div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="success-message-wrapp w-form-done">
                <div>
                  <div class="icon-font-rounded success-icon"></div>
                  <div class="mg-top-default">
                    <div class="text-titles">
                      <div class="display-5 mid">Thank you! We’ll get back to <span class="text-no-wrap">you soon</span></div>
                    </div>
                  </div>
                  <div class="mg-top-extra-small">
                    <p class="paragraph-medium">We have received your message and will get back to you as soon as possible. Our team is dedicated to providing the best support and we appreciate <span class="text-no-wrap">your patience.</span></p>
                  </div>
                </div>
              </div>
              <div class="error-message-wrapper w-form-fail">
                <div>Oops! Something went wrong.</div>
              </div>
            </div>
          </div>
          <div id="w-node-_32ac1f00-5679-ab92-30df-86fb13174de4-0b9741be" data-w-id="32ac1f00-5679-ab92-30df-86fb13174de4" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
            <h2 class="display-7 mid">{% translate 'Звʼяжіться' %}</h2>
            <div class="mg-top-small">
              <div class="inner-container _570px">
                <p class="paragraph-large">{% translate 'Дізнайтеся, як спільна робота може створити майбутнє для всіх нас.' %}</p>
              </div>
            </div>
            <div class="mg-top-large">
              <div class="w-layout-grid grid-1-column gap-row-default">
                <a id="w-node-da8499fe-f314-527a-ce80-260992f36524-0b9741be" data-w-id="da8499fe-f314-527a-ce80-260992f36524" href="mailto:yesypchuk.expert@gmail.com" class="text-decoration-none w-inline-block">
                  <div id="w-node-_1b261ccc-1655-1840-fcc3-5938cf45a8de-cf45a8de" class="card v4">
                    <div class="w-layout-grid grid-auto---1fr _1-col-mbp z-index-1">
                      <div id="w-node-_1b261ccc-1655-1840-fcc3-5938cf45a8e0-cf45a8de" class="align-self-top"><img src="{% static 'images/envelope-icon-laboratory-x-webflow-template.svg' %}" loading="eager" alt="Envelope Icon - Laboratory X Webflow Template" class="image-size _32px"></div>
                      <div>
                        <div class="mg-bottom-tiny">
                          <div class="display-3 mid text-neutral-600">{% translate 'Надішліть електронний лист' %}</div>
                        </div>
                        <div class="text-break-all">
                          <div class="card-heading display-3 mid">yesypchuk.expert@gmail.com</div>
                        </div>
                      </div>
                    </div>
                    <div class="z-index-1">
                      <div class="arrow-right"></div>
                    </div>
                    <div class="bg-hover circle---right right"></div>
                    <div class="bg-hover circle---left left"></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
